.ForecastBase-bg {
  padding: 8vh 0 50px 0;
  min-height: calc(100vh - 60px);
  width: 100%;
  background-color: #FFFFE0;
}

.ForecastBase-city {
  margin: 0;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}

.ForecastBase-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ForecastBase-day {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin: 10px 5vw 50px;
  min-width: 190px;
  min-height: 170px;
  text-align: center;
}

.ForecastBase-img {
  width: 65px;
}

.ForecastBase-weekday {
  margin: -10px 0 5px 0;
  font-size: 35px;
  font-weight: 400;
}

.ForecastBase-month-day {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
}

.ForecastBase-temp {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.ForecastBase-degree {
  color: #ff7532;
  font-weight: 700;
}