* {
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 90, 44, 0.89);
  height: 60px;
  padding: 5px;
  color: white;
}

.Header__title {
  margin: 6px 12px;
  font-size: 30px;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.Header__form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

@media only screen and (max-device-width : 568px) {
  .Header__title {
    font-size: 20px;
  }
}